services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: opencruit
      POSTGRES_PASSWORD: opencruit
      POSTGRES_DB: opencruit
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
